1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

### Answer

# Everything is a values

-87.8 - "Integer"
'hello' - Sring
6 - "Integer"

# everything below is an expression
- 
/ 
+

2. What is the difference between string and variable?

### Answer

__Variable :
    Variable is a local instance or global instances where we can try to store the data.
Eg: a = 10__.

__string :   Whatever we enclose within single quote or double quote is called string. string is a combination of character, words.__

3. Describe three different data types.

### Answer

integer
 Integer is a data type consider nnmerical value whole numbeer only. Exclude decimal values.
string
 string is a data type conside combination of character.
float
 Float is a data type consider only decimal values.
Bollean
 Boolean is a data type consider True and False

4. What is an expression made up of? What do all expressions do?

### Answer

__Expression is a combination of values, variables, operators and function calls that returns a result value. Expression evaluates to a value.__

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Answer

In [10]:
spam = 10

__Expression is a combination of values, variables, operators and function calls that returns a result value. 
Expression evaluates to a value.__

In [15]:
# This is expression
x= 4
y = 3
x + y

7

__Any command that a python interpreter can execute is called a Statement. A statement does something, like creating a variable or displaying a value, it only does whatever the statement says.__

__Statement can be a expression but Expression can't be a statement.__

6. After running the following code, what does the variable bacon contain?

In [4]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

__bacon contain 23__

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

### Answer

__The value of two term is same__

In [12]:
'spam' + 'spamspam'

'spamspamspam'

In [13]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

### Answer

__Variable name unable to start with integer. Variable always start with character.__

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Answer

int() ---> integer
float() ----.> floating point number
str() ----> str

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

### Answer

In [7]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

__Here we trying to do addition operation with string and integer data type. Only homogeneous data type operation can be 
performed by python.so we need to do typecasting so integer converted into string and we need to do addition__

In [14]:
# typecasting str(99)

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'